<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   You have been invited to <%= @project.title%>
   <%= link_to "Go To Project" ,project_url(@project)%>
  </body>
</html>