<p style="color: green"><%= notice %></p>
<%= render @ticket %>
<div class="row my-3">
  <div class="col">
    <%= link_to "Edit this ticket", edit_project_ticket_path(params[:project_id],@ticket),class:"btn btn-warning" %>
  </div>
  <div class="col d-flex justify-content-end">
    <%= button_to "Destroy this ticket", project_ticket_path, method: :delete,class:"btn btn-danger" %>
  </div>
</div>
