<% @projects.each do |project|%>
  <div class="row card card-body bg-light ">
    <h4 class="" >
      <%=link_to project.title , project_path(project),{class:"col text-dark"}%>
      <h6 class="col text-muted "><%= project.created_at%></h6>  
    </h4>
  </div>
<%end%>
